body {
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 320px;
    height: 533px;
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.button {
    background-color: #fff;
    border: 1px solid #000;
    margin: 8px;
    padding: 6px;
    cursor: pointer;
}

.defaultText {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.chat {
    border: 1px solid #000;
    width: 302px;
    height: 437px;
    margin: 0 auto;
    display: grid;
    overflow: auto;

    &__messages {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        margin: 8px 0 0 0;
    }
}

.message {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;

    max-width: 270px;
    min-height: 46px;
    background: #E5E5E5;
    margin: 0 8px 8px 0;
    padding: 8px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.input {
    border: 1px solid #000000;
    outline: none;

    &__base {
        height: 28px;
        width: 261px;
    }

    &__setting-name {
        width: 207px;
        height: 28px;
    }

    &__data {
        width: 239px;
        height: 28px;
        margin: 0 0 7px;
    }

}

.submit {
    border: 1px solid #000000;

    &__arrow {
        background: #ffffff url("../img/sendArrow.svg") no-repeat center;
        width: 29px;
        height: 32px;
    }

    &__text {
        height: 34px;
        background: #FFFFFF;
    }
}


.setting, .authorization {
    width: 320px;
    height: 533px;
    background-color: #535353;

    display: flex;
    justify-content: center;
    align-items: center;

    &__popup {
        width: 273px;
        height: 319px;
        background-color: white;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 14px;

    &__close {
        background: url("../img/buttonClose.svg") no-repeat center;
        width: 16px;
        height: 24px;
        border: none;
        cursor: pointer;
    }

    &__name-data {
        margin-top: 70px;
    }
}

.selectName {
    margin: 14px;
    display: flex;
    justify-content: space-between;
}

.data-entry {
    margin: 14px;
}

.selectedTab {
    display: block;
}